.row {
    max-width: initial;
}

fieldset {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}


button#submit{
    display: block;
    margin: 0 auto 10px;
    border-radius: 5px;
}

button.add.tiny{
    border-radius: 5px;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    margin-bottom: 0;
    height: 37px;
}

a, a:focus, a:hover, a:not(.button) {
    color: #483a23;
}

.side-nav li.heading{
    color: #483a23;
}

.side-nav li a:not(.button){
    color: #483a23;
}

.side-nav li a:not(.button):hover{
    color: #483a23;
}

.side-nav li a:not(.button):focus{
    color: #483a23;
}


.button, .button:hover, .button:focus{
    background-color: #483a23;
}

input[type="text"], input[type="number"], input[type='email'], input[type='password'], select {
    border-radius: 5px;
}

table#addvisit thead tr th{
    text-align: center;
    background-color:  #e1cc9f;
}

table thead tr th{
    background-color:  #e1cc9f;
    text-align: center;
}

td input[type="text"], td input[type="number"], td select {
    margin-bottom: 0;
}

#actions-sidebar{
    background-color:  #e1cc9f;
}

@media (min-width: 640px) {
    #actions-sidebar {
        height: 100vh;
    }
}

.message{
    text-align: center;
    background-color: #e1cc9f;
    color: #483a23;
    width: 45%;
    margin: 15px auto 0;
    border-radius: 2px;
}


.hidden{
    display: none;
}

#services-list {
    list-style-type: none;
}

#services-list li {
    color: #483a23;
    padding: 1em;
}

#services-list li div {
    background: #e1cc9f;
    padding: 1em;
}

#services-list li h3{
    color: #e1cc9f;
    background: #483a23;
    margin: 0;
    padding: 1em;
}
