*, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6  {
    font-family: 'Quicksand', sans-serif;
    font-size: 4.5vw;
}
body {
    color: #483a23;
    background: #decf9b;
    text-align: center;
}
h1, h2, h3 {
    font-weight: bold;
}
h3 {
    margin: 0;
    padding: .5rem;
}
p {
    margin-bottom: .3rem;
}

/*layout*/
header, footer {
    height: 8vh;
    width: 100vw;
    position: fixed;
    z-index: 5;
    background: #decf9b;
}
footer {
    height: 5vh;
    bottom: 0;
    background: #decf9b;
}
/*layout end*/

/*header*/
header ul {
    list-style-type: none;
    display: flex;
    margin: 0;
}
header i {
    font-weight: bold;
}
nav#openlogo img {
    height: 8vh;
}
nav#summary {
    display: none;
}
#icons li {
    padding: 0 1rem 0 0;
    font-size: 4vw;
}
#icons li:last-child {
    padding: 0;
}
#icons span {
    margin-left: 0.2rem;
    font-size: 4vw;
}
#breadcumbs li {
    background: #8c8e5e;
    color: #decf9b;
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    font-size: 1rem;
    font-weight: bold;
}
#breadcumbs li.active {
    background: #483a23;
}
#breadcumbs li:not(:last-child):after {
    position: absolute;
    content: ' ';
    width: 33%;
    border-bottom: .3rem solid #8c8e5e;
    height: 1rem;
    z-index: -2;
}
#breadcumbs li.active:after {
    border-bottom: .3rem solid #483a23;
}
/*header end*/

/*main*/
main {
    padding: 8vh 0 5vh 0;
}
label, #cart, button.cart {
    display: none;
}
.input {
    width: 100%;
}
#open i.fi-clock {
    font-size: 4.5vw;
    position: initial;
}

/*pager*/
#pager {
    font-size: 4vh;
}
#pager:not(.active) {
    color: #999;
}
#pager.active:before {
    animation: drop 2000ms ease-out infinite;
}
@keyframes drop {
    0% {
        margin-top: 0;
    }
    35% {
        margin-top: .7rem;
    }
}
/*pager end*/

/*open*/
#open > div:nth-child(1) {
    height: 35vh;
}
#open > div:nth-child(2) {
    height: 52vh;
}
.input-group i {
    font-size: 9vh;
    padding:0;
    position: relative;
    bottom: 4vh;
}
#open input{
    height: 7vh;
    border: thin solid #483a23;
    border-radius: 10px;
}
.input-group {
    margin-bottom: 0;
}
.service-image {
    border: .5rem solid white;
    margin: 1rem;
    height: 30vh;
}
#step-1, #step-2 {
    display: none;
    margin-top: 1.6rem;
}
/*open end*/

/*step-1*/
button.active {
    color: #483a23;
}
h2 {
    font-size: 7vw;
}
svg {
    fill: #483a23;
    width: 25vw;
    height: 6rem;
}
.service {
    text-align: center;
    background: #483a23;
    padding: 0 .5rem;
    margin-bottom: .5rem;
    color: #decf9b;
}
.service p {
    font-size: .9rem;
}
.description {
    /*display: none;*/
}
.service button {
    color: #483a23;
    background: #decf9b;
    width: 100%;
    font-weight: bold;
    font-size: 1rem;
    padding: .25rem;
}
.service-data img {
    border: .2rem solid #fff;
    margin-bottom: .5rem;
}
.service-data i {
    font-size: .9rem;
}

.faded {
    background-color: #bababa;
}
.faded h3, .faded .button {
    background-color: #ababab;
    color: #fff;
}
.faded img {
    filter: grayscale(100%);
}
/*step-1 end*/

/*main end*/