*, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6  {
    font-family: 'Quicksand', sans-serif;
}

body {
    color: #483a23;
    background: #DECF9B;
    text-align: center;
}
nav img {
    width: 200px;
    height: auto;

}

.button.success {
    display: none;
}
.button.warning {
    display: none;
}
dl dt {
    display: none;
}
label, h2, h4 {
    display: none;
}

.fi-shopping-cart {
    display: none;
}
.fi-calendar {
    font-size: 50px;
    padding:0;
    position: relative;
    bottom: 20px;
}
.fi-male {
    font-size: 50px;
    padding: 0;
    position: relative;
    bottom: 20px;
}
.fi-universal-access{
    font-size: 50px;
    padding: 0;
    position: relative;
    bottom: 20px;

}
.fi-arrow-down {
    font-size: 35px;
    color: grey;
}
.service {
    text-align: center;
}
.button {
    display: none;
}
.input {
    width: 100%;
}
.service {
    background: #483a23;
    padding: 0 20px;
    color: #decf9b;
}
.service img, .service-image {
    border: .5rem solid white;
}
.service-image {
    margin: 1rem;
    width: 100%;
}


.min {
    position: relative;
    top: 6em;
}

.kepen_levo_szoveg {
    position: relative;
    bottom: 100px;
    font-size: 13px;
    width: 110px;
    margin: auto;
}