*, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6  {
    font-family: 'Quicksand', sans-serif;
}

.top-bar-section ul {
    list-style-type: none;
}
.top-bar-section li {
    float: left;
    margin: 0 0.3em;
}

.top-bar ul, .top-bar {
    background-color: #fff;
}

.top-bar{
    margin-bottom: 1.5em;
}

.top-bar-left img {
    height: 1.6em;
}

a.active {
    background-color: #2c83b6;
    color: #fff;
}

.login {
    margin-top: 5em;
    width: 25em;
    border: thin solid #483a23;
    padding: 2em;
    box-shadow: 5px 10px 8px #483a23;
}
.login img {
    height: 5em;
}

.error-message {
    background-color: #fcd6d6;
}
.form-error {
    display: block;
}

main.row {
    max-width: max-content;
}

fieldset {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}


button#send{
    display: block;
    margin: 0 auto 10px;
    border-radius: 5px;
}

button.selected, .button:hover.selected, .button:focus.selected{
    background-color: red;
}

button.add.tiny{
    border-radius: 5px;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    margin-bottom: 0;
    height: 37px;
}

a, a:focus, a:hover, a:not(.button) {
    color: #483a23;
}

.side-nav li.heading{
    color: #483a23;
}

.side-nav li a:not(.button){
    color: #483a23;
}

.side-nav li a:not(.button):hover{
    color: #483a23;
}

.side-nav li a:not(.button):focus{
    color: #483a23;
}


.button, .button:hover, .button:focus{
    background-color: #483a23;
}

input[type="text"], input[type="number"], input[type='email'], input[type='password'], select {
    border-radius: 5px;
}

table#addvisit thead tr th{
    text-align: center;
    background-color:  #e1cc9f;
}

table thead tr th{
    background-color:  #e1cc9f;
    text-align: center;
}

td input[type="text"], td input[type="number"], td select {
    margin-bottom: 0;
}

#actions-sidebar{
    background-color:  #e1cc9f;
}

.message{
    text-align: center;
    background-color: #e1cc9f;
    color: #483a23;
    width: 45%;
    margin: 15px auto 0;
    border-radius: 2px;
}

.visits .main-service {
    color: #e1cc9f;
    background: #483a23;
}

.visits .main-service h3 {
    background-color: #e1cc9f;
    color: #483a23;
}

.visits .main-service-data {
    color: #e1cc9f;
    padding: 1em;
}
.visits .main-service-data label {
    color: #e1cc9f;
}

.service {
    margin-bottom: 5%;
    height: 95%;
    background: #e1cc9f;
}

.service-data {
    color: #483a23;
    padding: 1em;
}

.visits h3{
    color: #e1cc9f;
    background: #483a23;
    margin: 0;
    padding: .5em;
}
