*, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6  {
    font-family: 'Quicksand', sans-serif;
}

body {
    color: #483a23;
}

.b {
    font-weight: bold;
}

.top-bar-section ul {
    list-style-type: none;
}
.top-bar-section li {
    float: left;
    margin: 0 0.3em;
}

.top-bar ul, .top-bar {
    background-color: #fff;
}

.top-bar{
    margin-bottom: 1.5em;
}

.top-bar-left img {
    height: 1.6em;
}

a.active {
}

.login {
    margin-top: 5em;
    width: 25em;
    border: thin solid #483a23;
    padding: 2em;
    box-shadow: 5px 10px 8px #483a23;
}
.login img {
    height: 5em;
}

.error-message {
    background-color: #fcd6d6;
}
.form-error {
    display: block;
}

main.row {
    max-width: max-content;
}

fieldset {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

button.add.tiny{
    border-radius: 5px;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    margin-bottom: 0;
    height: 37px;
}

a, a:focus, a:hover, a:not(.button) {
    color: #483a23;
}

.side-nav li.heading{
    color: #483a23;
}

.side-nav li a:not(.button){
    color: #483a23;
}

.side-nav li a:not(.button):hover{
    color: #483a23;
}

.side-nav li a:not(.button):focus{
    color: #483a23;
}


.button, .button:hover, .button:focus{
    background-color: #483a23;
}

input[type="text"], input[type="number"], input[type='email'], input[type='password'], select {
    border-radius: 5px;
}

table#addvisit thead tr th{
    text-align: center;
    background-color:  #e1cc9f;
}

table thead tr th{
    background-color:  #e1cc9f;
    text-align: center;
}

td input[type="text"], td input[type="number"], td select {
    margin-bottom: 0;
}

#actions-sidebar{
    background-color:  #e1cc9f;
}

.message{
    text-align: center;
    background-color: #e1cc9f;
    color: #483a23;
    width: 45%;
    margin: 15px auto 0;
    border-radius: 2px;
}

.visits h2 {
    font-weight: bold;
    text-align: center;
}

.visits .bg {
    background-color: #eee;
}

.visits .service-main {
    color: #e1cc9f;
    background: #483a23;
}


.visits .service-main .service-data {
    color: #e1cc9f;
    padding: 1em;
}
.visits .service-main .service-data label {
    color: #e1cc9f;
}

.service {
    margin-bottom: 5%;
    height: 95%;
    background: #e1cc9f;
}

.service.selected {
    border: thick solid #5da423;
}

.service-data {
    color: #483a23;
    padding: 1em;
}

.visits h3 {
    color: #e1cc9f;
    background: #483a23;
    font-weight: bold;
    margin: 0;
    padding: .5em;
}

.visits button {
    width: 100%;
}

button.success {
    cursor: not-allowed;
}

.faded {
    background-color: #bababa;
}
.faded h3, .faded .button {
    background-color: #ababab;
    color: #fff;
}
.faded img {
    filter: grayscale(100%);
}

#order button[type="submit"] {
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
}

#cart {
    display: none;
    background-color: #5da423;
    color: #fff;
}
#cart h4 {
    font-weight: bold;
}
#summary {
    margin: 0 0 1em 0;
    padding: 0.3em;
}
#summary dt {
    text-align: right;
    margin: 0 1em 0 0;
}
